@import "../css/index.scss";

.container {
  position: relative;
  width: 100vw;
}

// HEADER
.container header {
  position: relative;
  height: 100vh;

  &::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 15%;
    z-index: 3;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.29735644257703087) 0%,
      rgba(0, 1, 1, 0) 31%
    );
  }

  video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  div.soratra {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    flex-direction: column;
    align-items: center;

    .title {
      position: relative;
      top: -60px;
      color: $color_3;
      text-align: center;
      font-size: 30px;
      letter-spacing: 5px;
    }

    .tiret {
      position: relative;
      top: -27px;
      width: 2px;
      height: 90px;
      background-color: $first_color;
    }

    p {
      text-align: center;
      width: 50%;
      color: white;
    }

    .social {
      position: relative;
      top: 90px;
      display: flex;
      gap: 30px;
      font-size: 15px;
      color: $first_color;
    }
  }
}

// SECTION 1
.shortDescription {
  @include maxWidth;

  .imgForDescription {
    width: 300px;
    height: 350px;
    background-color: $sec_color;
    margin: 20px auto;
    &__inner {
      position: relative;
      top: 25px;
      left: -25px;
      width: 350px;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .textForDescription {
    width: 85%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;

    h1 {
      color: $color_3;
    }

    p {
      color: $sec_color;
      width: 75%;
      margin: 0 auto;
    }

    .btnDetailsDescription {
      @include button;
      border: 1px solid $color_3;
      color: $color_3;
    }
  }
}

// TABLETTE
@media screen and (min-width: 767px) {
  .container header {
    div.soratra {
      .social {
        top: 140px;
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 1280px) {
  .shortDescription {
    display: flex;
    flex-direction: row-reverse;

    .imgForDescription {
      &__inner {
        width: 450px;
        left: -185px;
      }
    }

    .textForDescription {
      display: flex;
      align-items: center;

      div {
        width: 50%;
      }

      p {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
