@import "../css/index.scss";

.container {
  position: relative;
  width: 100vw;
}

// HEADER
.container header {
  position: relative;
  height: 100vh;
  overflow: hidden;

  video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  div.soratra {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    flex-direction: column;
    align-items: center;

    .title {
      position: relative;
      top: -175px;
      visibility: hidden;
      color: $color_3;
      text-align: center;
      font-size: 30px;
      letter-spacing: 5px;
    }

    .tiret {
      position: relative;
      top: -27px;
      width: 2px;
      height: 0;
      background-color: $first_color;
    }

    p {
      position: relative;
      top: -100px;
      text-align: center;
      width: 50%;
      color: white;
      opacity: 0;
    }

    .social {
      position: relative;
      top: 90px;
      display: flex;
      gap: 30px;
      font-size: 15px;
      color: $first_color;

      .soc {
        position: relative;
        bottom: -50px;
        opacity: 0;
      }
    }
  }
}

// SECTION 1
.shortDescription {
  @include maxWidth;
  margin: 50px auto;

  .imgForDescription {
    width: 300px;
    height: 350px;
    background-color: #ecf2ff;
    margin: 20px auto;
    &__inner {
      position: relative;
      top: 25px;
      left: -25px;
      width: 350px;
      height: 300px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .textForDescription {
    width: 85%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;

    h1 {
      @include title_h1;
      color: $color_3;
    }

    p {
      color: $sec_color;
      width: 75%;
      margin: 0 auto;
    }

    .btnDetailsDescription {
      @include button;
      border: 1px solid $color_3;
      color: $color_3;
    }
  }
}

// SECTION 2
.comment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  width: 100vw;
  background-color: $color_4;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 325px;
    height: 325px;
    margin: 25px;

    .crochet {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      img {
        width: auto;
        height: 100%;
      }
    }

    p {
      text-align: center;
      width: 85%;
      color: $first_color;
    }
  }
}

// SECTION 3
.pricingSection {
  @include maxWidth;
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;

  span.titlePrice {
    width: 100%;
    margin-bottom: 20px;

    h1 {
      @include title_h1;
      text-align: center;
      font-size: 25px;
      color: $color_3;
    }
  }

  .plan {
    border-radius: 16px;
    box-shadow: -18px -20px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 10px;
    background-color: #fff;
    color: #697e91;
    max-width: 300px;
    margin: 20px;
    border: 1px solid #3a677c38;
    strong {
      font-weight: 600;
      color: #425275;
    }
    .inner {
      align-items: center;
      padding: 20px;
      padding-top: 40px;
      background-color: #ecf0ff;
      border-radius: 12px;
      position: relative;
    }
    .pricing {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #bed6fb;
      border-radius: 99em 0 0 99em;
      display: flex;
      align-items: center;
      padding: 0.625em 0.75em;
      font-size: 1.25rem;
      font-weight: 600;
      color: #425475;
      small {
        color: #707a91;
        font-size: 0.75em;
        margin-left: 0.25em;
      }
    }
    .title {
      font-weight: 600;
      font-size: 1.25rem;
      color: #425675;
      + {
        * {
          margin-top: 0.75rem;
        }
      }
    }
    .info {
      + {
        * {
          margin-top: 1rem;
        }
      }
    }
    .features {
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        + {
          * {
            margin-top: 0.75rem;
          }
        }
      }
      .icon {
        background-color: #1fcac5;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        svg {
          width: 14px;
          height: 14px;
        }
      }
      + {
        * {
          margin-top: 1.25rem;
        }
      }
    }
    .action {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
    }
    .button {
      background-color: $color_3;
      border-radius: 6px;
      color: #fff;
      font-weight: 500;
      font-size: 1.125rem;
      text-align: center;
      border: 0;
      outline: 0;
      width: 100%;
      padding: 0.625em 0.75em;
      text-decoration: none;
      transition: 0.5s;

      &:hover {
        background-color: #003950;
      }
    }
  }
}

// TABLETTE
@media screen and (min-width: 767px) {
  .container header {
    div.soratra {
      .social {
        top: 140px;
      }
    }
  }

  .comment {
    flex-direction: row;
    flex-wrap: wrap;

    &__inner {
      margin: 35px;
    }
  }

  .pricingSection {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

// DESKTOP
@media screen and (min-width: 1280px) {
  .shortDescription {
    display: flex;
    flex-direction: row-reverse;

    .imgForDescription {
      &__inner {
        width: 450px;
        left: -185px;
      }
    }

    .textForDescription {
      display: flex;
      align-items: center;

      div {
        width: 50%;
      }

      p {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}