@import "../css/index.scss";

.consultation {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    background: #0000008f;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  div.titleConsultation {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    .title {
      position: relative;
      top: -30px;
      right: -90%;
      color: $first_color;
      text-align: center;
      font-size: 30px;
      letter-spacing: 5px;
    }

    p {
      position: relative;
      top: -15%;
      opacity: 0;
      text-align: center;
      width: 50%;
      color: white;
    }

    .btnConsultation {
      @include button;
      position: relative;
      top: -65px;
      opacity: 0;
      margin-top: 25px;
    }

    .mouse_scroll {
      position: relative;
      bottom: -150px;
      opacity: 0;
      display: block;
      margin: 0 auto;
      width: 24px;
      height: 100px;
      margin-top: 50px;
    }

    .m_scroll_arrows {
      display: block;
      width: 5px;
      height: 5px;
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      transform: rotate(45deg);

      border-right: 2px solid white;
      border-bottom: 2px solid white;
      margin: 0 0 3px 4px;

      width: 16px;
      height: 16px;
    }

    .unu {
      margin-top: 1px;
    }

    .unu,
    .doi,
    .trei {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    }

    .unu {
      -webkit-animation-delay: 0.1s;
      -moz-animation-delay: 0.1s;
      -webkit-animation-direction: alternate;

      animation-direction: alternate;
      animation-delay: alternate;
    }

    .doi {
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      -webkit-animation-direction: alternate;

      animation-delay: 0.2s;
      animation-direction: alternate;

      margin-top: -6px;
    }

    .trei {
      -webkit-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      -webkit-animation-direction: alternate;

      animation-delay: 0.3s;
      animation-direction: alternate;

      margin-top: -6px;
    }

    .mouse {
      height: 42px;
      width: 24px;
      border-radius: 14px;
      transform: none;
      border: 2px solid white;
      top: 170px;
    }

    .wheel {
      height: 5px;
      width: 2px;
      display: block;
      margin: 5px auto;
      background: white;
      position: relative;

      height: 4px;
      width: 4px;
      border: 2px solid #fff;
      -webkit-border-radius: 8px;
      border-radius: 8px;
    }

    .wheel {
      -webkit-animation: mouse-wheel 0.6s linear infinite;
      -moz-animation: mouse-wheel 0.6s linear infinite;
      animation: mouse-wheel 0.6s linear infinite;
    }

    @-webkit-keyframes mouse-wheel {
      0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }

      100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
      }
    }
    @-moz-keyframes mouse-wheel {
      0% {
        top: 1px;
      }
      25% {
        top: 2px;
      }
      50% {
        top: 3px;
      }
      75% {
        top: 2px;
      }
      100% {
        top: 1px;
      }
    }
    @-o-keyframes mouse-wheel {
      0% {
        top: 1px;
      }
      25% {
        top: 2px;
      }
      50% {
        top: 3px;
      }
      75% {
        top: 2px;
      }
      100% {
        top: 1px;
      }
    }
    @keyframes mouse-wheel {
      0% {
        top: 1px;
      }
      25% {
        top: 2px;
      }
      50% {
        top: 3px;
      }
      75% {
        top: 2px;
      }
      100% {
        top: 1px;
      }
    }

    @-webkit-keyframes mouse-scroll {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
    @-moz-keyframes mouse-scroll {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
    @-o-keyframes mouse-scroll {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes mouse-scroll {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

// SECTION CONSEIL
.conseil {
  @include maxWidth;
  margin: 50px auto;

  .imgForConseil {
    width: 300px;
    height: 350px;
    background-color: #ecf2ff;
    margin: 20px auto;

    &__inner {
      position: relative;
      top: 25px;
      left: -25px;
      width: 350px;
      height: 300px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .textForConseil {
    width: 85%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;

    h1 {
      @include title_h1;
      color: $color_3;
    }

    p {
      color: $sec_color;
      width: 75%;
      margin: 0 auto;
    }

    .btnDetailsConseil {
      @include button;
      border: 1px solid $color_3;
      color: $color_3;
    }
  }
}

// DESKTOP
@media screen and (min-width: 1280px) {
  .consultation {
    div.titleConsultation {
      width: 65%;
      right: 0;
    }
  }

  .conseil {
    display: flex;
    flex-direction: row;

    .imgForConseil {
      &__inner {
        width: 450px;
        left: 25px;
      }
    }

    .textForConseil {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      div {
        width: 50%;
      }

      p {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
